
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NG+Modern:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-toast {
    background: rgba(0,0,12,0.8);
    color: lightgray;
}

.custom-toast-fail {
    background: rgba(0,0,12,0.8);
    color: red;
}

.custom-progress-bar {
    background: gray;
}

.custom-progress-bar-fail {
    background: red;
}


.underlineAnimator::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    height: 3px;
    width: 0%;
    background-color: black;
    border-radius: 5px;
    transition: all 200ms ease;
}

.underlineAnimator:hover::after{
    width: 100%;
}



/* this is css for complain register */


/* this is the css of compain component */
.complainComponent{
    width: 80%;
    background-color: white;
    color:black;
    border-radius: 10px;
    display:block;
    margin:30px;
    padding:10px;
    position:relative;
    box-shadow: 0px 1px 10px 0px;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: 100px;
   
 }


 .complainComponentExp{
    
    width: 80%;
    background-color: rgb(241, 236, 236);
    color:black;
    border-radius: 10px;
    display:block;
    margin:40px;
    text-align: left;
    position:relative;
    padding:10px;
    box-shadow: 0px 1px 10px 0px;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: 100px;
  

 }
 /* .complainComponent:hover{
    
    height:60%;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    display: block;

 } */
 /* .complainComponent:hover .complainDescription {
    display: block;

 }

 .complainComponent:hover  .complainAddress{
    display: block;

 } */

 



 .complainName{
    font-size: 40px;
    font-family: 'Trebuchet MS';
    display: flex;
    flex-wrap: nowrap;

    

 }

 .complainDescription{
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 }

 /* this is address css */
 .complainAddress{
    display: flex;
    justify-content: flex-end;

 }

 .complainAddressExp{
    display:flex;
    justify-content: left;
    font-size: 20px;
}
 


 .maincontainer{
   max-width:100%;
   height:auto;
   position:relative;
   margin-left: auto;
 

 }


  .complainStatus{
    background-color: rgb(179, 14, 14);
    color:white;
    width: 66px;
    font-size: 12px;
    border-radius: 3px;
    position: relative;
    margin-left: auto;
    display: flex;
    justify-content: center;
  
}
.complainStatusExp{
    color:black;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: left;
    
   
} 

.complainDate{
    color:grey;
    font-size: 10px;
}
    

.complainUsername{
    font-size: 15px;
}

.complainUsernameExp{
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: left;

}

.complainStatusText{
    /* background-color:rgb(154, 236, 247); */
    border-radius: 5px;
    color:red;
}




