
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NG+Modern:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-toast {
    background: rgba(0,0,12,0.8);
    color: lightgray;
}

.custom-toast-fail {
    background: rgba(0,0,12,0.8);
    color: red;
}

.custom-progress-bar {
    background: gray;
}

.custom-progress-bar-fail {
    background: red;
}
