
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NG+Modern:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-toast {
    background: rgba(0,0,12,0.8);
    color: lightgray;
}

.custom-toast-fail {
    background: rgba(0,0,12,0.8);
    color: red;
}

.custom-progress-bar {
    background: gray;
}

.custom-progress-bar-fail {
    background: red;
}


.underlineAnimator::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    height: 3px;
    width: 0%;
    background-color: black;
    border-radius: 5px;
    transition: all 200ms ease;
}

.underlineAnimator:hover::after{
    width: 100%;
}

/* 
::-webkit-scrollbar {
    width: 12px; 
}


::-webkit-scrollbar-thumb {
    height: 10%;
    background: #6a5d7b; 
    border-radius: 10px; 
    border: 2px solid #3c3247; 
}

::-webkit-scrollbar-thumb:hover {
    background: #554a63; 
}

::-webkit-scrollbar-track {
    background: #ece7f3; 
    border-radius: 10px; 
}
  
html {
    scrollbar-width: thin; 
    scrollbar-color: #6a5d7b #ece7f3;
} */

.no-scrollbar {
    overflow: auto; /* Ensure content is still scrollable */
    scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* For all browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide spin buttons in Chrome, Safari, and Edge */
    margin: 0; /* Remove extra margin */
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield; /* Change the appearance to a regular text input */
}
